@using Microsoft.AspNetCore.Identity
@using MinimalChat.Areas.Identity.Data


@inject SignInManager<MinimalChatUser> SignInManager
@inject UserManager<MinimalChatUser> UserManager
@model MinimalChat.Models.Domain.Rooms

@{
    ViewData["Title"] = "Enter";
    
}

<div class="container-fluid" style="background-color: black; height: 100vh;">
    <div class="row align-items-center justify-content-center">
        <div class="col col-12 col-md-6">
            <div class="d-flex flex-row-reverse align-items-center justify-content-end">
        <h1> @Model.RoomName </h1>
        <div>
              
        </div>
                <button id="exitRoomButton" class="btn btn-outline-danger">EXIT</button>
        </div>


        <form id="send-message-form" class="d-flex mb-5">

            <input class="form-control" type="text" id="message-to-send" />


            <button id="send-button" class="btn btn-outline-light">INVIA</button>
        </form>
        @* <button id="send-all" class="btn btn-success">Tutti</button> *@
        <div id="conversazione" class="d-flex flex-column-reverse"></div>

        </div>

    </div>

</div>



    


<script src="
https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js
"></script>
<script src="~/js/chat.js">
    
</script>
<script>
    chatRoom("@Model.Id.ToString()", "@UserManager.GetUserName(User)");
   

</script>